@mixin full-height-wrapper {
  // min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@mixin responsive-iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}
