// This file contains all application-wide variables.

:root {
  --body-colour: #faf9f6;

  --dark-yellow: rgba(242, 179, 96, 1);
  --light-yellow: rgba(251, 207, 139, 1);
  --red: rgba(196, 52, 31, 1);
  --dark-grey: rgba(10, 8, 12, 1);
  --mid-grey: rgba(77, 63, 63, 1);
  --light-grey: rgb(237, 237, 237);

  --brand-color: var(--dark-yellow);
  --text-color: var(--dark-grey);

  --max-width: 1180px;
  --base-url: "https://res.cloudinary.com/liquidweb/image/upload/f_auto/";
}
