{% include 'partials/site-head.njk' %}

{% include 'partials/header.njk' %}

<main class="main__content">

  {{ content | safe }}

</main>

{% include 'partials/footer.njk' %}

{% include 'partials/body-close.njk' %}