{% include 'partials/site-head.njk' %}

{% include 'partials/navbar.njk' %}

<div class="page-wrap">

  <main class="main-content">

    <article class="article">

      {{ content | safe }}

    </article>

  </main>

</div>

{% include 'partials/footer.njk' %}

{% include 'partials/body-close.njk' %}