{% include 'partials/site-head.njk' %}

{% include 'partials/header.njk' %}

<main class="main__content">

  <article class="article">

    {{ content | safe }}

  </article>

</main>

{% include 'partials/footer.njk' %}

{% include 'partials/body-close.njk' %}