{% include 'partials/site-head.njk' %}

<div class="home__wrapper">

  {% include 'partials/header.njk' %}

  <div id="pswp-gallery-home">

    <a href="{{ galleries.portrait.images[0].src }}" data-pswp-width="{{ galleries.portrait.images[0].width }}" data-pswp-height="{{ galleries.portrait.images[0].height }}">
      <img class="home__banner" src="{{ galleries.portrait.banner }}" width="{{ galleries.portrait.bannerWidth }}" height="{{ galleries.portrait.bannerHeight }}" alt="{{ galleries.portrait.bannerAlt }}">
    </a>

    {% for img in galleries.portrait.images %}
      {% if not loop.first %}
        <a class="visually-hidden" href="{{ img.src }}" data-pswp-width="{{ img.width }}" data-pswp-height="{{ img.height }}" aria-hidden="true" tabindex="-1">{{ img.alt }}</a>
      {% endif %}
    {% endfor %}

  </div>

  {% include 'partials/footer.njk' %}

</div>

<script type="module">

  import PhotoSwipeLightbox from '/assets/js/photoswipe/photoswipe-lightbox.esm.min.js';

  new PhotoSwipeLightbox({
    gallery: '#pswp-gallery-home',
    children: 'a',
    bgOpacity: 1,
    errorMsg: 'The photo cannot be loaded',
    showHideAnimationType: 'none',
    pswpModule: () => import('/assets/js/photoswipe/photoswipe.esm.min.js')
  }).init();

</script>

{% include 'partials/body-close.njk' %}
