{% include 'partials/site-head.njk' %}

<div class="home__wrapper">

  {% include 'partials/header.njk' %}

  <img id="home__banner" class="home__banner" src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1577351875/photography/portraits/Marcelle-Portrait-1-14092019.jpg" width="2048" height="1365" alt="Marcelle">

  {% include 'partials/footer.njk' %}

</div>

{# <script src="/assets/js/home.js"></script> #}

<script type="module">
  import PhotoSwipeLightbox from '/assets/js/photoswipe/photoswipe-lightbox.esm.min.js';

  const options = {
    dataSource: [

      {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1577351918/photography/portraits/Marcelle-Portrait-6-14092019.jpg',
        width: 1365,
        height: 2048,
        alt: 'Marcelle'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661426954/photography/portraits/Panda-Leather-Dress-BW-3.jpg',
        width: 1366,
        height: 2048,
        alt: 'Siyu'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1639387683/photography/portraits/Dana-Portrait-1-12122021.jpg',
        width: 2160,
        height: 1440,
        alt: 'Dana'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1577352006/photography/portraits/Karen-Portrait-4-26052019.jpg',
        width: 1365,
        height: 2048,
        alt: 'Karen'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1667531907/photography/portraits/Dad-Portrait-12062021.jpg',
        width: 2160,
        height: 1440,
        alt: 'Dad'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237192/photography/portraits/Harmanpreet-Portrait-4-200221.jpg',
        width: 1440,
        height: 2160,
        alt: 'Harmanpreet'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237273/photography/portraits/Ruthie-Portrait-1-Colour-14112015.jpg',
        width: 1620,
        height: 1080,
        alt: 'Ruthie'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1667532227/photography/portraits/Carl-Osterly-Portrait-4.jpg',
        width: 2048,
        height: 1365,
        alt: 'Amanda'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237359/photography/portraits/Lan-Joy-Portrait-1-0720.jpg',
        width: 2160,
        height: 1440,
        alt: 'Lan & Joy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237436/photography/portraits/Lan-Joy-Portrait-12-0720.jpg',
        width: 1440,
        height: 2160,
        alt: 'Lan & Joy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1667531703/photography/portraits/PortraitP-OsterlyCarl-5.jpg.jpg',
        width: 1440,
        height: 2160,
        alt: 'Lan & Joy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237537/photography/portraits/Alyson-Portrait-5.jpg',
        width: 1458,
        height: 1080,
        alt: 'Alyson'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237596/photography/portraits/Yeena-Portrait-1-BW.jpg',
        width: 1620,
        height: 1080,
        alt: 'Yeena'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237754/photography/portraits/Cissy-2019-Edit-1.jpg',
        width: 1636,
        height: 2048,
        alt: 'Cissy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237774/photography/portraits/Cissy-GD-Shot-8-Colour.jpg',
        width: 2160,
        height: 1440,
        alt: 'Cissy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237829/photography/portraits/Sura-Portrait-2-Colour-14082016.jpg',
        width: 2048,
        height: 1365,
        alt: 'Sura'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1667531647/photography/portraits/Mia-Portrait-BW.jpg',
        width: 2048,
        height: 1365,
        alt: ''
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237891/photography/portraits/Hop-Portrait-10-031221.jpg',
        width: 1440,
        height: 2160,
        alt: 'Hop'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237926/photography/portraits/CC-SMC-Shot-4.jpg',
        width: 702,
        height: 1080,
        alt: 'CC'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237928/photography/portraits/CC-SMC-Shot-1.jpg',
        width: 1424,
        height: 1080,
        alt: 'CC'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661237987/photography/portraits/Mia-Tran-Portrait-1.jpg',
        width: 1620,
        height: 1080,
        alt: 'Mia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661238015/photography/portraits/Tiphany-HP-Portrait-1-BW.jpg',
        width: 796,
        height: 1080,
        alt: 'Tiphany'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661238058/photography/portraits/Hannah-Portrait-3-Colour-28012017.jpg',
        width: 2048,
        height: 1365,
        alt: 'Hannah'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1667532321/photography/portraits/PortraitP-OsterlyCarl-4.jpg',
        width: 2048,
        height: 1365,
        alt: 'Georgia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661238077/photography/portraits/Georgia-Portrait-Colour-3-15042017.jpg',
        width: 2048,
        height: 1365,
        alt: 'Georgia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661238126/photography/portraits/Georgia-Sitting-Colour-5-15042017.jpg',
        width: 1365,
        height: 2048,
        alt: 'Georgia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661238147/photography/portraits/Georgia-Portrait-1-Colour-13122017.jpg',
        width: 1520,
        height: 2048,
        alt: 'Georgia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661238171/photography/portraits/Az-Az-Portrait-2-Colour-25062016.jpg',
        width: 2048,
        height: 1365,
        alt: 'Az Az'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1667531907/photography/portraits/Brisbane-Man.jpg',
        width: 2160,
        height: 1440,
        alt: 'Brisbane Man'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1667531905/photography/portraits/Eric-Portrait-4-210821.jpg',
        width: 2160,
        height: 1440,
        alt: 'Brisbane Man'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661238243/photography/portraits/Ekaterina-Portrait-4-171120.jpg',
        width: 2160,
        height: 1440,
        alt: 'Ekaterina'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661238206/photography/portraits/Ekaterina-Portrait-6-171120.jpg',
        width: 1440,
        height: 2160,
        alt: 'Ekaterina'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661238255/photography/portraits/Fiamma-Portrait-2-280521.jpg',
        width: 2160,
        height: 1440,
        alt: 'Fiamma'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661238283/photography/portraits/Amy-Portrait-1-070521.jpg',
        width: 2160,
        height: 1440,
        alt: 'Amy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661240909/photography/portraits/Ivy-Portrait-6-19112020.jpg',
        width: 2160,
        height: 1440,
        alt: 'Ivy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661240958/photography/portraits/Libby-Portrait-4-BW-12012020.jpg',
        width: 1365,
        height: 2048,
        alt: 'Libby'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661240986/photography/portraits/Steph-Portrait-3-220820.jpg',
        width: 2160,
        height: 1440,
        alt: 'Steph'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661240988/photography/portraits/Steph-Portrait-2-220820.jpg',
        width: 1440,
        height: 2160,
        alt: 'Steph'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241020/photography/portraits/Zues-Standing-Colour-5-26122016.jpg',
        width: 2048,
        height: 1365,
        alt: 'Zues'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241114/photography/portraits/Mugzy-Portrait-13-Colour-28012017.jpg',
        width: 2048,
        height: 1365,
        alt: 'Mugzy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241129/photography/portraits/Joyce-Portrait-4-120920.jpg',
        width: 2160,
        height: 1440,
        alt: 'Joyce'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241196/photography/portraits/Joyce-Portrait-10-120920.jpg',
        width: 1440,
        height: 2160,
        alt: 'Joyce'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241227/photography/portraits/Jerome-Portrait-1-Colour-19122016-.jpg',
        width: 1365,
        height: 2048,
        alt: 'Jerome'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241287/photography/portraits/Cameron-Portrait-2-Colour-17052018.jpg',
        width: 1365,
        height: 2048,
        alt: 'Cameron'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241347/photography/portraits/Serena-Front-Portrait-1-CG.jpg',
        width: 720,
        height: 1080,
        alt: 'Serena'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241382/photography/portraits/Serena-Portrait-5-Colour-0620.jpg',
        width: 1366,
        height: 2048,
        alt: 'Serena'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241530/photography/portraits/Valeria-Portrait-2-CG.jpg',
        width: 733,
        height: 1080,
        alt: 'Valeria'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241544/photography/portraits/Valeria-Portrait-Sunglasses-CG.jpg',
        width: 1620,
        height: 1080,
        alt: 'Valeria'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241560/photography/portraits/Ulim-Portrait-2-BW-02112019.jpg',
        width: 2048,
        height: 1365,
        alt: 'Ulim'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241655/photography/portraits/Tara-Portrait-4-BW-0620.jpg',
        width: 1366,
        height: 2048,
        alt: 'Tara'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241691/photography/portraits/Tabasom-Portrait-1-Colour.jpg',
        width: 1680,
        height: 2048,
        alt: 'Tabasom'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1667532126/photography/portraits/Carl-Osterly-Fashion-6.jpg',
        width: 2048,
        height: 1365,
        alt: 'Tabasom'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241771/photography/portraits/Susanne-Portrait-1-0720.jpg',
        width: 2048,
        height: 1366,
        alt: 'Susanne'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241813/photography/portraits/Sherry-Standing-10-BW-12032016.jpg',
        width: 1620,
        height: 1080,
        alt: 'Sherry'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241857/photography/portraits/Sherry-Portrait-5-12082017.jpg',
        width: 1365,
        height: 2048,
        alt: 'Sherry'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241958/photography/portraits/Sheffie-Shoot3-Sunglasses.jpg',
        width: 2048,
        height: 1474,
        alt: 'Sheffie'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661241977/photography/portraits/Sharon-Portrait-2-BW-21052016.jpg',
        width: 1620,
        height: 1080,
        alt: 'Sharon'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242011/photography/portraits/Sharon-Portrait-BW-4-30122016.jpg',
        width: 1365,
        height: 2048,
        alt: 'Sharon'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242088/photography/portraits/Sascha-Portrait-3-Colour.jpg',
        width: 1365,
        height: 2048,
        alt: 'Sascha'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242153/photography/portraits/Sabina-Portrait-4-BW-14042018.jpg',
        width: 2048,
        height: 1365,
        alt: 'Sabina'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242166/photography/portraits/Ruby-Portrait-1-22042018.jpg',
        width: 2048,
        height: 1365,
        alt: 'Ruby'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242181/photography/portraits/Ruby-Portrait-2-22042018.jpg',
        width: 1365,
        height: 2048,
        alt: 'Ruby'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242276/photography/portraits/Patricia-Portrait-16-Colour-07042018.jpg',
        width: 2048,
        height: 1365,
        alt: 'Patricia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242393/photography/portraits/Mona-Portrait-4-03032019.jpg',
        width: 1365,
        height: 2048,
        alt: 'Patricia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242439/photography/portraits/Mona-Portrait-3-03032019.jpg',
        width: 2048,
        height: 1365,
        alt: 'Mona'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242678/photography/portraits/Mina-Portrait-Colour-1-23042017.jpg',
        width: 2048,
        height: 1365,
        alt: 'Mina'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242833/photography/portraits/Marie-Sitting-Colour-5-01042017.jpg',
        width: 1365,
        height: 2048,
        alt: 'Marie'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242920/photography/portraits/Marcelle-Portrait-7-14092019.jpg',
        width: 2048,
        height: 1365,
        alt: 'Marcelle'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242923/photography/portraits/Marcelle-Portrait-12-14092019.jpg',
        width: 1365,
        height: 2048,
        alt: 'Marcelle'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242943/photography/portraits/Maddi-Portrait-7-Colour.jpg',
        width: 1920,
        height: 1080,
        alt: 'Maddi'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242973/photography/portraits/Leslie-Portrait-1-Colour-02092017.jpg',
        width: 2048,
        height: 1365,
        alt: 'Leslie'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661242983/photography/portraits/Leslie-Portrait-BW-29072018.jpg',
        width: 1365,
        height: 2048,
        alt: 'Leslie'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243010/photography/portraits/Lani-Portrait-1-Colour-01122018.jpg',
        width: 2048,
        height: 1365,
        alt: 'Lani'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243070/photography/portraits/Katarina_030613_Colour_Lean.jpg',
        width: 1800,
        height: 1080,
        alt: 'Katarina'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243099/photography/portraits/Gia_Portrait_Web_Rev2.jpg',
        width: 1392,
        height: 1080,
        alt: 'Gia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243158/photography/portraits/Karen-Portrait-1-26052019.jpg',
        width: 1365,
        height: 2048,
        alt: 'Karen'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243174/photography/portraits/Karla-Portrait-2-Colour.jpg',
        width: 840,
        height: 1080,
        alt: 'Karla'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243204/photography/portraits/Justyna-Portrait-1.jpg',
        width: 720,
        height: 1080,
        alt: 'Justyna'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243235/photography/portraits/Jess-Portrait-5-BW-02012018.jpg',
        width: 1441,
        height: 2048,
        alt: 'Jess'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/v1661493019/photography/portraits/Irina-Cafe-Sitting1-Colour.jpg',
        width: 739,
        height: 1080,
        alt: 'Irina'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243249/photography/portraits/Irina-Standing-Rocks-1.jpg',
        width: 1668,
        height: 1080,
        alt: 'Irina'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243304/photography/portraits/Gabriella-Dark-Jacket-01.jpg',
        width: 1365,
        height: 2048,
        alt: 'Gabriella'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243324/photography/portraits/Gabriella-Standing-08-Colour.jpg',
        width: 1620,
        height: 1080,
        alt: 'Gabriella'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243340/photography/portraits/Florian-Portrait-1-Colour.jpg',
        width: 1620,
        height: 1080,
        alt: 'Florian'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243378/photography/portraits/Elizabeth-Colour-3-30072018.jpg',
        width: 1365,
        height: 2048,
        alt: 'Elizabeth'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243386/photography/portraits/Elizabeth-BW-5-30072018.jpg',
        width: 1365,
        height: 2048,
        alt: 'Elizabeth'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243403/photography/portraits/Elena-Portrait-4-21122017.jpg',
        width: 1365,
        height: 2048,
        alt: 'Elena'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243416/photography/portraits/Elena-Portrait-3-21122017.jpg',
        width: 2560,
        height: 1440,
        alt: 'Elena'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243481/photography/portraits/Elena-Portrait-4-31032019.jpg',
        width: 1459,
        height: 2048,
        alt: 'Elena'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243494/photography/portraits/Dee-Portrait-Colour-1-02042017.jpg',
        width: 2048,
        height: 1365,
        alt: 'Dee'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243572/photography/portraits/Claudia-Portrait-Sunglasses-1.jpg',
        width: 1620,
        height: 1035,
        alt: 'Claudia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243593/photography/portraits/Christ-Portrait-1-Colour-14052016.jpg',
        width: 1620,
        height: 1035,
        alt: 'Christ'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243621/photography/portraits/Chanel-Portrait-2-24112018.jpg',
        width: 1365,
        height: 2048,
        alt: 'Chanel'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243635/photography/portraits/Hi-Key_Portrait_Colour.jpg',
        width: 1136,
        height: 2048,
        alt: 'Cassandra'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243657/photography/portraits/Carmina-Portrait-9-BW-0620.jpg',
        width: 2048,
        height: 1366,
        alt: 'Carmina'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243693/photography/portraits/Carmina-Portrait-4-Colour-0620.jpg',
        width: 2048,
        height: 1366,
        alt: 'Carmina'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243713/photography/portraits/Beth-Piano-1-PNG-Final.png',
        width: 720,
        height: 1080,
        alt: 'Beth'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243729/photography/portraits/Beth-Portrait-5-PNG.png',
        width: 1620,
        height: 1080,
        alt: 'Beth'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243830/photography/portraits/Barbara-Portrait-1-0720.jpg',
        width: 2048,
        height: 1366,
        alt: 'Barbara'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243840/photography/portraits/Apoorva-Portrait-2-Retouched.jpg',
        width: 836,
        height: 1080,
        alt: 'Apoorva'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243886/photography/portraits/AJ-Colour-6-09092018.jpg',
        width: 1365,
        height: 2048,
        alt: 'AJ'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243897/photography/portraits/Six_Neo.jpg',
        width: 1920,
        height: 1080,
        alt: 'Six'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661243918/photography/portraits/John-Portrait-1-BW.jpg',
        width: 720,
        height: 1080,
        alt: 'John'
      }
    ],
    bgOpacity: 1,
    errorMsg: 'The photo cannot be loaded',
    showHideAnimationType: 'none',
    pswpModule: () => import ('/assets/js/photoswipe/photoswipe.esm.min.js')
  };
  const lightbox = new PhotoSwipeLightbox(options);
  lightbox.init();

  document
    .querySelector('#home__banner')
    .onclick = () => {
      lightbox.loadAndOpen(0); // defines start slide index
    };
</script>

{% include 'partials/body-close.njk' %}