{% include 'partials/site-head.njk' %}

<div class="home__wrapper">

  {% include 'partials/header.njk' %}

  <img id="home__banner" class="home__banner" src="{{ galleries.portrait.banner }}" width="{{ galleries.portrait.bannerWidth }}" height="{{ galleries.portrait.bannerHeight }}" alt="{{ galleries.portrait.bannerAlt }}">

  {% include 'partials/footer.njk' %}

</div>

{# <script src="/assets/js/home.js"></script> #}

<script type="module">

  import PhotoSwipeLightbox from '/assets/js/photoswipe/photoswipe-lightbox.esm.min.js';

  const options = {
    dataSource: {{ galleries.portrait.images | dump | safe }},
    bgOpacity: 1,
    errorMsg: 'The photo cannot be loaded',
    showHideAnimationType: 'none',
    pswpModule: () => import('/assets/js/photoswipe/photoswipe.esm.min.js')
  };

  const lightbox = new PhotoSwipeLightbox(options);
  lightbox.init();

  document
    .querySelector('#home__banner')
    .onclick = () => {
      lightbox.loadAndOpen(0); // defines start slide index
    };

</script>

{% include 'partials/body-close.njk' %}
