{% include 'partials/site-head.njk' %}

{% include 'partials/navbar.njk' %}

<div class="hero__banner-wrapper">
  <img id="hero__banner" class="hero__banner" src="https://res.cloudinary.com/liquidweb/image/upload/q_80/v1577351875/photography/portraits/Marcelle-Portrait-1-14092019.jpg" alt="Portrait of Marcelle">
</div>

{% include 'partials/footer.njk' %}

<script src="/assets/js/homepage.js"></script>

<script type="module">
  import PhotoSwipeLightbox from '/assets/js/photoswipe/photoswipe-lightbox.esm.js';

  const options = {
    dataSource: [

      {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1577351918/photography/portraits/Marcelle-Portrait-6-14092019.jpg',
        width: 1365,
        height: 2048,
        alt: 'Marcelle'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1639387683/photography/portraits/Dana-Portrait-1-12122021.jpg',
        width: 2160,
        height: 1440,
        alt: 'Dana'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1577352006/photography/portraits/Karen-Portrait-4-26052019.jpg',
        width: 1365,
        height: 2048,
        alt: 'Karen'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1577351999/photography/portraits/Karen-Portrait-3-26052019.jpg',
        width: 1365,
        height: 2048,
        alt: 'Karen'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237192/photography/portraits/Harmanpreet-Portrait-4-200221.jpg',
        width: 1440,
        height: 2160,
        alt: 'Harmanpreet'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237273/photography/portraits/Ruthie-Portrait-1-Colour-14112015.jpg',
        width: 1620,
        height: 1080,
        alt: 'Ruthie'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237359/photography/portraits/Lan-Joy-Portrait-1-0720.jpg',
        width: 2160,
        height: 1440,
        alt: 'Lan & Joy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237436/photography/portraits/Lan-Joy-Portrait-12-0720.jpg',
        width: 1440,
        height: 2160,
        alt: 'Lan & Joy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237537/photography/portraits/Alyson-Portrait-5.jpg',
        width: 1458,
        height: 1080,
        alt: 'Alyson'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237596/photography/portraits/Yeena-Portrait-1-BW.jpg',
        width: 1620,
        height: 1080,
        alt: 'Yeena'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237754/photography/portraits/Cissy-2019-Edit-1.jpg',
        width: 1636,
        height: 2048,
        alt: 'Cissy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237774/photography/portraits/Cissy-GD-Shot-8-Colour.jpg',
        width: 2160,
        height: 1440,
        alt: 'Cissy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237829/photography/portraits/Sura-Portrait-2-Colour-14082016.jpg',
        width: 2048,
        height: 1365,
        alt: 'Sura'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237891/photography/portraits/Hop-Portrait-10-031221.jpg',
        width: 1440,
        height: 2160,
        alt: 'Hop'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237926/photography/portraits/CC-SMC-Shot-4.jpg',
        width: 702,
        height: 1080,
        alt: 'CC'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237928/photography/portraits/CC-SMC-Shot-1.jpg',
        width: 1424,
        height: 1080,
        alt: 'CC'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661237987/photography/portraits/Mia-Tran-Portrait-1.jpg',
        width: 1620,
        height: 1080,
        alt: 'Mia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661238015/photography/portraits/Tiphany-HP-Portrait-1-BW.jpg',
        width: 796,
        height: 1080,
        alt: 'Tiphany'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661238058/photography/portraits/Hannah-Portrait-3-Colour-28012017.jpg',
        width: 2048,
        height: 1365,
        alt: 'Hannah'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661238077/photography/portraits/Georgia-Portrait-Colour-3-15042017.jpg',
        width: 2048,
        height: 1365,
        alt: 'Georgia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661238126/photography/portraits/Georgia-Sitting-Colour-5-15042017.jpg',
        width: 1365,
        height: 2048,
        alt: 'Georgia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661238147/photography/portraits/Georgia-Portrait-1-Colour-13122017.jpg',
        width: 1520,
        height: 2048,
        alt: 'Georgia'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661238171/photography/portraits/Az-Az-Portrait-2-Colour-25062016.jpg',
        width: 2048,
        height: 1365,
        alt: 'Az Az'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661238243/photography/portraits/Ekaterina-Portrait-4-171120.jpg',
        width: 2160,
        height: 1440,
        alt: 'Ekaterina'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661238206/photography/portraits/Ekaterina-Portrait-6-171120.jpg',
        width: 1440,
        height: 2160,
        alt: 'Ekaterina'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661238255/photography/portraits/Fiamma-Portrait-2-280521.jpg',
        width: 2160,
        height: 1440,
        alt: 'Fiamma'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661238283/photography/portraits/Amy-Portrait-1-070521.jpg',
        width: 2160,
        height: 1440,
        alt: 'Amy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661240909/photography/portraits/Ivy-Portrait-6-19112020.jpg',
        width: 2160,
        height: 1440,
        alt: 'Ivy'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661240958/photography/portraits/Libby-Portrait-4-BW-12012020.jpg',
        width: 1365,
        height: 2048,
        alt: 'Libby'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661240986/photography/portraits/Steph-Portrait-3-220820.jpg',
        width: 2160,
        height: 1440,
        alt: 'Steph'
      }, {
        src: 'https://res.cloudinary.com/liquidweb/image/upload/q_80/v1661240988/photography/portraits/Steph-Portrait-2-220820.jpg',
        width: 1440,
        height: 2160,
        alt: 'Steph'
      }
    ],
    bgOpacity: 1,
    errorMsg: 'The photo cannot be loaded',
    showHideAnimationType: 'none',
    pswpModule: () => import ('/assets/js/photoswipe/photoswipe.esm.js')
  };
  const lightbox = new PhotoSwipeLightbox(options);
  lightbox.init();

  document
    .querySelector('#hero__banner')
    .onclick = () => {
      lightbox.loadAndOpen(0); // defines start slide index
    };
</script>

{% include 'partials/body-close.njk' %}