{% include 'partials/site-head.njk' %}

<div class="fh__wrapper">

  {% include 'partials/header.njk' %}

  <main class="main__content flow">

    {% if title == 'Sandbox' %}

    {% else %}
      {% include 'partials/page-banner.njk' %}
    {% endif %}

    {{ content | safe }}

  </main>

  {% include 'partials/footer.njk' %}

</div>

{% include 'partials/body-close.njk' %}