{% include 'partials/site-head.njk' %}

<div class="fh__wrapper">

  {% include 'partials/header.njk' %}

  <div class="thankyou__content">

    <div class="flow">

      <p>Thanks for getting in touch!</p>

      <p>It may take a few hours to receive a response from me during office hours. </p>

      <div>
        <a class="btn btn--primary outline" href="/">Back to the site</a>
      </div>

    </div>

  </div>

  {% include 'partials/footer.njk' %}

</div>

<script src="/assets/js/home.js"></script>

{% include 'partials/body-close.njk' %}