---
title: About
description: About Carl Osterly Photography
image: https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661501540/photography/core-ui/Carl-BW-Portrait-29112017.jpg
imageAlt: Portrait of Carl Osterly
imageWidth: 2048
imageHeight: 1365
layout: 'layouts/page.njk'
permalink: "/about/"
---

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos molestias laudantium quasi neque totam maiores corporis id ut fuga ad, eaque nobis distinctio architecto praesentium facere fugit ducimus impedit eos est rerum blanditiis. Eum fugiat officiis maiores expedita dolorum exercitationem, modi labore repudiandae eos vero doloribus quasi quo possimus!</p>

<div class="awards-gallery">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666410072/photography/core-ui/awards/2022-Mono-Awards-Places-2.png" loading="lazy" alt="2022 Mono Awards Places">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666410072/photography/core-ui/awards/2022-Mono-Awards-Places.png" loading="lazy" alt="2022 Mono Awards Places">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666410072/photography/core-ui/awards/2022-Mono-Awards-People.png" loading="lazy" alt="2022 Mono Awards People">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666411433/photography/core-ui/awards/2022-ATEP-Single-Shot.png" loading="lazy" alt="2022 ATEP Single Shot">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666411433/photography/core-ui/awards/2022-ATEP-Portraits.png" loading="lazy" alt="2022 ATEP Portraits">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666410004/photography/core-ui/awards/2021-Mono-Awards-People-2.png" loading="lazy" alt="2021 Mono Awards People">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666410005/photography/core-ui/awards/2021-Mono-Awards-People.png" loading="lazy" alt="2021 Mono Awards People">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666410003/photography/core-ui/awards/2021-ATEP-Portrait.png" loading="lazy" alt="2021 ATEP Portrait">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666410005/photography/core-ui/awards/2021-APH-Portraits.png" loading="lazy" alt="2021 APH Portraits">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666409605/photography/core-ui/awards/2020-Mono-Awards-People-2.png" loading="lazy" alt="2020 Mono Awards People">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666409605/photography/core-ui/awards/2020-Mono-Awards-People.png" loading="lazy" alt="2020 Mono Awards People">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666408972/photography/core-ui/awards/2020-ATEP-TRAVEL.png" loading="lazy" alt="2020 ATEP Travel">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666408973/photography/core-ui/awards/2020-ATEP-ARCHITECTURE.png" loading="lazy" alt="2020 ATEP Architecture">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666411434/photography/core-ui/awards/2019-Mono-Awards-Places-2.png" loading="lazy" alt="2019 Mono Awards Places">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666411434/photography/core-ui/awards/2019-Mono-Awards-Places.png" loading="lazy" alt="2019 Mono Awards Places">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666411434/photography/core-ui/awards/2019-Mono-Awards-People.png" loading="lazy" alt="2019 Mono Awards People">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666408879/photography/core-ui/awards/2019-Australian-Photography-Travel.png" loading="lazy" alt="2019 AP Travel">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666408879/photography/core-ui/awards/2019-Australian-Photography-Portrait.png" loading="lazy" alt="2019 AP Portraits">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666408879/photography/core-ui/awards/2019-Australian-Photography-BW.png" loading="lazy" alt="2019 AP BW">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666411433/photography/core-ui/awards/2018-ATEP-Portraits.png" loading="lazy" alt="2018 ATEP Portraits">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666411435/photography/core-ui/awards/2018-AP-Portraits.png" loading="lazy" alt="2018 AP Portraits">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666411435/photography/core-ui/awards/2018-AP-Landscape.png" loading="lazy" alt="2018 AP Landscape">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666411435/photography/core-ui/awards/2017-AP-Various.png" loading="lazy" alt="2017 AP Various">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666411434/photography/core-ui/awards/2017-AP-Portraits.png" loading="lazy" alt="2017 AP Portraits">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666411434/photography/core-ui/awards/2016-APH-Portraits.png" loading="lazy" alt="2016 APH Portraits">

  <img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1666411435/photography/core-ui/awards/2016-APH-BW.png" loading="lazy" alt="2016 APH BW">
</div>