---
title: Articles
image: https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661583694/photography/core-ui/Dads-House-6.jpg
imageAlt: Pile of magazines
imageWidth: 2160
imageHeight: 1440
layout: 'layouts/page.njk'
permalink: "/articles/"
---

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, dignissimos similique dolore veniam beatae id repellendus temporibus aspernatur saepe commodi recusandae deserunt, ab architecto magnam illum quo earum minima ratione! Optio repellat accusantium, suscipit voluptatem non inventore fugiat ex est natus earum sunt iste sit nihil, sequi numquam ullam quaerat!</p>

<div class="articles__list">

  {% for post in collections.post | reverse %}

    <article class="card">

      <a href="{{post.url}}">
        <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}" class="img-responsive" width="{{post.data.imageWidth}}" height="{{post.data.imageHeight}}" loading="lazy">
      </a>

      <a href="{{post.url}}">
        <h2>{{ post.data.title }}</h2>
      </a>

      <time>{{ post.date | postDate }}</time>

      <p>{{ post.data.description }}</p>

      <a href="{{post.url}}" class="btn btn--primary">Continue Reading</a>

    </article>

  {% endfor %}

</div>