---
title: Recent Articles
layout: 'layouts/articles-index.njk'
permalink: "/articles/"
---

<img src="https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661583694/photography/core-ui/Dads-House-6.jpg" alt="Pile of magazines" class="img-responsive" width="2160" height="1440">

<h1>{{title}}</h1>

<div class="articles__list">

  {% for post in collections.post | reverse %}
    <article class="card flow">
      <div class="card__thumb">
        <img src="{{post.data.image}}" alt="{{post.data.imagAlt}}" class="img-responsive"/>
      </div>
      <div class="card__content">
        <a href="{{post.url}}">
          <h2 class="card__title">{{ post.data.title }}</h2>
        </a>
        <p class="card__meta">{{ post.date | postDate }}
        </p>
        <p class="card__description">{{ post.data.description }}</p>
        <div class="card__button">
          <a href="{{post.url}}" class="btn btn--primary">Continue Reading</a>
        </div>
      </div>
    </article>
  {% endfor %}

</div>