---
title: Contact
description: About the Contact page
image: https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661571665/photography/core-ui/Hurstville-Walk-3_2.jpg
imageAlt: Photo of letterbox
imageWidth: 2160
imageHeight: 1440
layout: 'layouts/page.njk'
permalink: "/contact/"
---

<p>If you would like to book a session please use the contact form below.</p>

<p>Alternatively, you can message me on Facebook, Instagram or WeChat.</p>

<div class="contact__icons">

  <div>
    <a href="https://m.me/carlosterly" aria-label="Facebook Messenger">
      <i class="bi bi-messenger"></i>
    </a>
  </div>

  <div>
    <a href="https://www.instagram.com/carlosterlyphotography/" aria-label="Instagram">
      <i class="bi bi-instagram"></i>
    </a>
  </div>

  <div>
    <a href="weixin://dl/chat?wxid_5wgqao23twsh12" aria-label="WeChat">
      <i class="bi bi-wechat"></i>
    </a>
  </div>

</div>

<div class="contact__layout">

  <div class="flow">

    <h2>Contact Form</h2>

    <form name="contact-form" method="post" data-netlify="true" netlify-honeypot="bot-field" action="/thankyou">

      <fieldset class="fieldset">

        <p class="hidden">
          <label>Don't fill this out if you're human: <input name="bot-field"/></label>
        </p>

        <label for="full-name">Full Name</label>
        <input class="input" type="text" name="full-name" id="full-name" required="">
        <label for="email-address">Email Address</label>
        <input class="input" type="email" name="email-address" id="email-address" required="">

        <label for="timely">Type of enquiry</label>
        <select class="select" name="enquiry" id="enquiry" required="">
          <option value="" selected="" disabled="">Choose</option>
          <option value="TFP Photo Shoot">Free Photo Shoot (TFP)</option>
          <option value="Paid Photo Shoot">Paid Photo Shoot</option>
          <option value="Other">Other</option>
        </select>

        <label for="message">Additional Comments</label>
        <textarea class="input" rows="3" name="comments" id="comments" required=""></textarea>
        <input type="hidden" name="subject" value="Photography Enquiry">
      </fieldset>

      <input class="btn btn--primary outline" type="submit" value="Submit">

    </form>

  </div>

  <div class="flow">

    <h2>Postal Address</h2>

    <address>
      PO Box 304<br>
      Hurstville BC<br>
      New South Wales 1481</br>
      Australia 
    </address>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26473.296251354215!2d151.08348951600735!3d-33.96267460424863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b998bee6e1bd%3A0x5017d681632bb60!2sHurstville%20NSW%202220!5e0!3m2!1sen!2sau!4v1665476808378!5m2!1sen!2sau" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>

</div>