---
title: Contact
description: About the Contact page
image: https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661571665/photography/core-ui/Hurstville-Walk-3_2.jpg
imageAlt: Photo of letterbox
imageWidth: 2160
imageHeight: 1440
layout: 'layouts/page.njk'
permalink: "/contact/"
---

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos molestias laudantium quasi neque totam maiores corporis id ut fuga ad, eaque nobis distinctio architecto praesentium facere fugit ducimus impedit eos est rerum blanditiis. Eum fugiat officiis maiores expedita dolorum exercitationem, modi labore repudiandae eos vero doloribus quasi quo possimus!</p>

<form name="contact" method="POST" data-netlify="true">
  <p>
    <label>Your Name: <input type="text" name="name"/></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email"/></label>
  </p>
  <p>
    <label>Your Role: <select name="role[]" multiple>
        <option value="leader">Leader</option>
        <option value="follower">Follower</option>
      </select>
    </label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea>
    </label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>

<h2>Heading Two</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos molestias laudantium quasi neque totam maiores corporis id ut fuga ad, eaque nobis distinctio architecto praesentium facere fugit ducimus impedit eos est rerum blanditiis. Eum fugiat officiis maiores expedita dolorum exercitationem, modi labore repudiandae eos vero doloribus quasi quo possimus!</p>

<h3>Heading Three</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos molestias laudantium quasi neque totam maiores corporis id ut fuga ad, eaque nobis distinctio architecto praesentium facere fugit ducimus impedit eos est rerum blanditiis. Eum fugiat officiis maiores expedita dolorum exercitationem, modi labore repudiandae eos vero doloribus quasi quo possimus!</p>

<h4>Heading Four</h4>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos molestias laudantium quasi neque totam maiores corporis id ut fuga ad, eaque nobis distinctio architecto praesentium facere fugit ducimus impedit eos est rerum blanditiis. Eum fugiat officiis maiores expedita dolorum exercitationem, modi labore repudiandae eos vero doloribus quasi quo possimus!</p>