---
title: Gallery
description: About the Gallery
image: https://res.cloudinary.com/liquidweb/image/upload/f_auto,q_30/v1663908967/photography/japan/Kanazawa-51.jpg
imageAlt: A street in Kanazawa
imageWidth: 2048
imageHeight: 1365
layout: 'layouts/page.njk'
permalink: "/gallery/"
---

<p>Below is an image gallery of some of my previous work. Here you can view some of the portrait, street and travel photography I've taken, along with some digital art I've created on my iPad.</p>

<div class="gallery">
  {% for slug, gallery in galleries %}
  <div class="gallery__item">

    <div class="gallery__box" id="pswp-gallery-{{ slug }}">

      <a href="{{ gallery.images[0].src }}" data-pswp-width="{{ gallery.images[0].width }}" data-pswp-height="{{ gallery.images[0].height }}">
        <img class="gallery__img" src="{{ gallery.thumb }}" alt="{{ gallery.thumbAlt }}">
      </a>

      <h5 class="gallery__caption">{{ gallery.title }}</h5>

      {% for img in gallery.images %}
        {% if not loop.first %}
          <a class="visually-hidden" href="{{ img.src }}" data-pswp-width="{{ img.width }}" data-pswp-height="{{ img.height }}" aria-hidden="true" tabindex="-1">{{ img.alt }}</a>
        {% endif %}
      {% endfor %}

    </div>

    <a class="gallery__view-link" href="/gallery/{{ slug }}/{{ gallery.images[0].slug }}/">Browse {{ gallery.title }} photos one at a time &rarr;</a>

  </div>
  {% endfor %}
</div>

<script type="module">

  import PhotoSwipeLightbox from '/assets/js/photoswipe/photoswipe-lightbox.esm.min.js';

  const common = {
    bgOpacity: 1,
    errorMsg: 'The photo cannot be loaded',
    showHideAnimationType: 'none',
    pswpModule: () => import('/assets/js/photoswipe/photoswipe.esm.min.js')
  };

  {%- for slug, gallery in galleries %}
  new PhotoSwipeLightbox({ gallery: '#pswp-gallery-{{ slug }}', children: 'a', ...common }).init();
  {%- endfor %}

</script>
