---
title: Thank you!
description: Thanks for submitting the form
image: https://res.cloudinary.com/liquidweb/image/upload/f_auto/v1661501540/photography/core-ui/Carl-BW-Portrait-29112017.jpg
imageAlt: Portrait of Carl Osterly
imageWidth: 2048
imageHeight: 1365
layout: 'layouts/page.njk'
permalink: "/thankyou/"
---

<div class="flow">

  <p>Thanks for getting in touch!</p>

  <p>It may take a few hours to receive a response from me during office hours. </p>

  <p>    
    Thanks in advance for your patience.</p>

  <div>
    <a class="btn btn--primary outline" href="/contact">Back to the site</a>
  </div>

</div>