.contact__layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;

  @include media(">=md") {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 0;
  }
}

.contact__layout address {
  font-style: normal;
  font-family: var(--font-heading);
  font-size: var(--font-size-base);
}

.contact__layout iframe {
  @include responsive-iframe;
}

.contact__icons {
  font-size: var(--font-size-xxl);
  display: flex;
  justify-content: space-around;
  padding: 0.8rem 0 0.8rem 0;

  @include media(">=md") {
    justify-content: space-evenly;
  }

  a {
    color: var(--mid-grey);
    text-decoration: none;
    transition: color 0.3s ease-out;
    &:hover {
      color: var(--dark-yellow);
    }
  }
}
