.contact__layout {
  display: grid;
  grid-template-columns: 1fr;

  @include media(">=md") {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
  }
}

.contact__address address {
  font-style: normal;
  font-family: var(--font-heading);
  font-size: var(--font-size-base);
}
