.article {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 50em) [main-end]
    minmax(1em, 1fr) [full-end];
}

.article > * {
  grid-column: main;
}

.article-splash {
  grid-column: full;
  margin-bottom: 1rem;
}
