.site__footer {
  font-family: var(--font-heading);
  font-size: var(--font-size-xxl);
  color: var(--mid-grey);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 0.8rem;
  grid-template-areas:
    "icons"
    "copyright"
    "pagetop";

  @include media(">=md") {
    grid-template-columns: max-content 1fr 0.4fr;
    grid-template-areas: "copyright pagetop icons";
    align-items: center;
    font-size: var(--font-size-md);
  }

  a {
    color: var(--mid-grey);
    text-decoration: none;
    transition: color 0.3s ease-out;
    &:hover {
      color: var(--dark-yellow);
    }
  }
}

.footer__copyright {
  grid-area: copyright;
  text-align: center;
  font-size: var(--font-size-base);
  @include media(">=md") {
    text-align: left;
  }
}

.footer__pagetop {
  grid-area: pagetop;
  justify-self: center;
  margin-bottom: 0.8rem;
}

.footer__icons {
  grid-area: icons;
  display: flex;
  justify-content: space-evenly;
  @include media(">=md") {
    justify-content: space-between;
  }
}
