.site__header {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 64px;
  align-items: center;
}

.site__heading {
  justify-self: end;
  grid-column: 2 / span 2;
  h1 {
    font-size: var(--font-size-lg);
    margin-bottom: 0.4rem;
    @include media(">420px") {
      font-size: var(--font-size-xl);
    }
  }
}

.logo__text1 {
  color: var(--dark-yellow);
}

.logo__text2 {
  color: var(--mid-grey);
}

.main__content {
  margin-bottom: 0.5rem;
}
