.site__header {
  margin: 0.5rem 1rem 0 1rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 65px;
  align-items: center;
}

.site__heading {
  justify-self: end;
  grid-column: 2 / span 2;
  h1 {
    font-size: var(--font-size-lg);
    margin-bottom: 0.8rem;
    @include media(">420px") {
      font-size: var(--font-size-xl);
    }
  }
}

.logo__text1 {
  color: $dark-yellow;
}

.logo__text2 {
  color: $mid-grey;
}

.hero__banner-wrapper {
  margin: 0 1rem 0.5rem 1rem;
}

.hero__banner {
  object-fit: cover;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}
