.site__nav {
  grid-column: 1 / span 1;
  @include media(">=md") {
    display: none;
  }
}

.menu__desktop {
  grid-column: 1 / span 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  @include media("<=md") {
    display: none;
  }
  li {
    font-family: var(--font-heading);
    font-size: var(--font-size-md);
  }
  a {
    color: $mid-grey;
    transition: color 0.3s ease-out;
    &:hover {
      color: $dark-yellow;
    }
  }
}

.menu__toggle {
  position: relative;
  display: block;
  width: 40px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  a {
    text-decoration: none;
    color: $mid-grey;
    transition: color 0.3s ease-out;
    &:hover {
      color: $dark-yellow;
    }
  }
}

.menu__toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.menu__toggle span {
  position: relative;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: $mid-grey;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
  &:first-child {
    transform-origin: 0% 0%;
  }
  &:nth-last-child(2) {
    transform-origin: 0% 100%;
    margin-bottom: 0;
  }
}

.menu__toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $mid-grey;
  &:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  &:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
}

.menu__toggle input:checked ~ ul {
  transform: none;
}

.menu__slide {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: rgba(237, 237, 237, 0.9);
  list-style-type: none;
  -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  li {
    padding: 10px 0;
    font-family: var(--font-heading);
    font-size: var(--font-size-md);
  }
}

// Hover effect for links in articles

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
