<footer class="site__footer">

  <div class="footer__copyright">&copy; 2022 carlosterly.photography</div>

  <div class="footer__pagetop">
    {# <a href="#top">
      <i class="bi bi-arrow-up-circle"></i>
    </a> #}
  </div>

  <div class="footer__icons">

    <div>
      <a href="/contact/" aria-label="Contact Form">
        <i class="bi bi-envelope"></i>
      </a>
    </div>

    <div>
      <a href="https://www.facebook.com/carlosterly" aria-label="Facebook">
        <i class="bi bi-facebook"></i>
      </a>
    </div>

    <div>
      <a href="https://m.me/carlosterly" aria-label="Facebook Messenger">
        <i class="bi bi-messenger"></i>
      </a>
    </div>

    <div>
      <a href="weixin://dl/chat?wxid_5wgqao23twsh12" aria-label="WeChat">
        <i class="bi bi-wechat"></i>
      </a>
    </div>

    <div>
      <a href="https://www.instagram.com/carlosterlyphotography/" aria-label="Instagram">
        <i class="bi bi-instagram"></i>
      </a>
    </div>

  </div>

</footer>