<header class="site__header" id="top">

  <nav class="site__nav">
    <div id="menuToggle">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li>
          <a href="/">Home</a>
        </li>

        <li>
          <a href="/about">About</a>
        </li>

        <li>
          <a href="/gallery">Gallery</a>
        </li>

        <li>
          <a href="/blog">Blog</a>
        </li>

        <li>
          <a href="/contact">Contact</a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="hero__heading">
    <a href="/">
      <h1>
        <span class="logo__text1">carlosterly</span>.<span class="logo__text2">photography</span></h1>
    </a>
  </div>

  <img class="hero__banner" src="https://res.cloudinary.com/liquidweb/image/upload/q_80/v1577351875/photography/portraits/Marcelle-Portrait-1-14092019.jpg" alt="Portrait of Marcelle">

</header>