<header class="site__header">

  <nav class="site__nav">
    <div class="menu__toggle">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>
      <ul class="menu__slide">
        <li>
          <a href="/">Home</a>
        </li>

        <li>
          <a href="/about/">About</a>
        </li>

        <li>
          <a href="/gallery/">Gallery</a>
        </li>

        <li>
          <a href="/articles/">Articles</a>
        </li>

        <li>
          <a href="/contact/">Contact</a>
        </li>

      </ul>
    </div>
  </nav>

  <ul class="menu__desktop">
    <li>
      <a href="/">Home</a>
    </li>

    <li>
      <a href="/about/">About</a>
    </li>

    <li>
      <a href="/gallery/">Gallery</a>
    </li>

    <li>
      <a href="/articles/">Articles</a>
    </li>

    <li>
      <a href="/contact/">Contact</a>
    </li>

  </ul>

  <div class="site__heading">
    <a href="/">
      <h1>
        <span class="logo__text1">carlosterly</span>.<span class="logo__text2">photography</span>
      </h1>
    </a>
  </div>

</header>