<header class="site__header" id="top">

  <nav class="site__nav">
    <div class="menu__toggle">
      <label for="siteNav" class="hidden">Mobile Site Navigation</label>
      <input type="checkbox" name="siteNav" aria-label="Mobile Site Menu"/>
      <span></span>
      <span></span>
      <span></span>
      <ul class="menu__slide">

        <li>
          <a href="/" aria-label="Home">Home</a>
        </li>

        <li>
          <a href="/about/" aria-label="About">About</a>
        </li>

        <li>
          <a href="/gallery/" aria-label="Gallery">Gallery</a>
        </li>

        <li>
          <a href="/articles/" aria-label="Articles">Articles</a>
        </li>

        <li>
          <a href="/contact/" aria-label="Contact">Contact</a>
        </li>

      </ul>
    </div>
  </nav>

  <ul class="menu__desktop">
    <li>
      <a href="/">Home</a>
    </li>

    <li>
      <a href="/about/">About</a>
    </li>

    <li>
      <a href="/gallery/">Gallery</a>
    </li>

    <li>
      <a href="/articles/">Articles</a>
    </li>

    <li>
      <a href="/contact/">Contact</a>
    </li>

  </ul>

  <div class="site__heading">
    <a href="/">
      <span class="logo__text1">carlosterly</span>
      <span class="logo__text2">.photography</span>
    </a>
  </div>

</header>